{% extends "view/base.html" %}
{% block title %} About {% endblock %}
{% block head %}
{{ super() }}

<style>

</style>

{% endblock %}
{% block content %}


<br>
<br>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">About </h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat incidunt
                    exercitationem culpa temporibus! Aperiam sint soluta iusto rem impedit possimus qui, optio itaque
                    culpa. Et inventore beatae nesciunt consequatur necessitatibus! Quaerat, porro? Deserunt commodi
                    eligendi enim ex at odit esse, inventore autem nostrum eos recusandae molestias error beatae
                    nesciunt eaque! Voluptate magni illum inventore minus ab quibusdam, debitis assumenda culpa
                    repudiandae velit dicta error quam ad pariatur rerum nobis commodi harum voluptates, fuga earum
                    repellat quod asperiores possimus. Rem eos iste nobis dolor velit architecto perspiciatis alias quas
                    sed voluptates officia, fuga similique molestiae quibusdam aliquid ullam odit eum animi repellat
                    magnam. Obcaecati, est architecto eius vel voluptate corrupti? Nisi modi esse dolores numquam,
                    accusantium voluptates et, maxime quam harum quas enim maiores nam exercitationem deleniti
                    repellendus eos eligendi temporibus, aperiam eveniet mollitia sequi! Eum magnam facere nemo
                    voluptate officia placeat ullam cupiditate debitis animi, repellat quos tempore soluta suscipit
                    recusandae in ex dicta esse alias corrupti sit blanditiis architecto quidem delectus? Facilis nemo
                    eaque maiores libero dolores, ipsa nulla, molestiae, dolorum dolor quibusdam quasi iusto impedit.
                    Expedita, alias! Quae iste nesciunt hic similique molestiae dolor ea ab cum architecto suscipit
                    nihil facere, ratione aliquid. Dolor error ex qui iusto?    </p>
                <!-- <a class="btn btn-light btn-xl" href="#services">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>

<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4"> Terms & condition</h2>
        <p class="text-white-75 mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat incidunt
            exercitationem culpa temporibus! Aperiam sint soluta iusto rem impedit possimus qui, optio itaque
            culpa. Et inventore beatae nesciunt consequatur necessitatibus! Quaerat, porro? Deserunt commodi
            eligendi enim ex at odit esse, inventore autem nostrum eos recusandae molestias error beatae
            nesciunt eaque! Voluptate magni illum inventore minus ab quibusdam, debitis assumenda culpa
            repudiandae velit dicta error quam ad pariatur rerum nobis commodi harum voluptates, fuga earum
            repellat quod asperiores possimus. Rem eos iste nobis dolor velit architecto perspiciatis alias quas
            sed voluptates officia, fuga similique molestiae quibusdam aliquid ullam odit eum animi repellat
            magnam. Obcaecati, est architecto eius vel voluptate corrupti? Nisi modi esse dolores numquam,
            accusantium voluptates et, maxime quam harum quas enim maiores nam exercitationem deleniti
            repellendus eos eligendi temporibus, aperiam eveniet mollitia sequi! Eum magnam facere nemo
            voluptate officia placeat ullam cupiditate debitis animi, repellat quos tempore soluta suscipit
            recusandae in ex dicta esse alias corrupti sit blanditiis architecto quidem delectus? Facilis nemo
            eaque maiores libero dolores, ipsa nulla, molestiae, dolorum dolor quibusdam quasi iusto impedit.
            Expedita, alias! Quae iste nesciunt hic similique molestiae dolor ea ab cum architecto suscipit
            nihil facere, ratione aliquid. Dolor error ex qui iusto?    </p>
        <!-- <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
         -->
    </div>
</section>


{% endblock %}I