{% extends "view/base.html" %}
{% block title %} Service {% endblock %}
{% block head %}
{{ super() }}

<style>

</style>

{% endblock %}
{% block content %}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Lorem ipsum dolor sit amet.</h3>
                    <p class="text-muted mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius eligendi
                        placeat ducimus aspernatur voluptates at aliquid dignissimos atque molestias odit</p>
                </div>
            </div>


        </div>
    </div>
</section>

{% endblock %}